@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua|Raleway:400,500,700');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.intro {
	height: 100%;
	width: 100%;
	margin: 0;
	background: black url(https://static.pexels.com/photos/37608/night-northern-lights-nature-lights-37608.jpeg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;	
	max-width: none;
}
.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 1% 0 2% 0;
	color: #add8a3;
}
img {
	max-width: 75%
}
.market-map2 {
	margin-top: -1.2em;
}
.content h1 {
	font-family: 'Uncial Antiqua', cursive;
	font-size: 400%;
	font-weight: 100;
	line-height: 100%;
	margin: 0 0;
}
.content h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	font-weight: 400;
	line-height: 150%;
}
.content h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
	font-weight: 400;
}
h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 150%;
	font-weight: 500;
}
ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 0;
	margin-left: 0;
}
li {
	position: relative;
	padding: 0 0;
}
.circle {
	color: white;
	align: center;
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: -1.6em;
	top: 0.05em;	
}
.faceb {
	background: #3b5998;
}
.insta {
	background: #6dc993;
}
.etsy {
	background: #de690f;
}
.gmail {
	background: #ff4343;
}
a {
	text-decoration: none;
	color: #add8a3;
}
a:hover {
	transition: all 0.5s ease;
	color: #475843;
}
#map {
	margin: 0 auto;
	width: 90%;
	height: 300px;
	color: #799772;
}
.GMtitle {
	font-size: 140%;
	font-weight: 500;
}
.GMtext {
	padding-top: 0.5em;
	font-size: 120%;
}

/*-- Media Queries --*/

@media screen and (min-width: 430px) {
	/*--.textwrap {
		display: none;
	}--*/
	.content {
		padding: 3% 0 3% 0
	}
}
@media screen and (max-device-width: 430px) {
	.content h1 {
		font-size: 300%;
	}
	.content h2 {
		font-size: 140%;
	}
	.content h3 {
		font-size: 160%;
	}
	.content {
		width: 90%;
	}
}
@media screen and (max-device-width: 400px) {
	.content h1 {
		font-size: 320%;
	}
	.content h2 {
		font-size: 125%;
	}
	.content h3 {
		font-size: 150%;
	}
	.content {
		width: 90%;
	}
} 
@media screen and (max-device-width: 350px) {
	.content h1 {
		font-size: 280%;
	}
	.content h2 {
		font-size: 110%;
	}
	.content h3 {
		font-size: 130%;
	}
	.content {
		width: 90%;
	}
} 